link(rel='stylesheet' href='/css/navStyle.css')
div(class="navi" id="nav")
  ul
    //- li= {if(page_name === 'about') { class="current" } }
      a(href="/about")About
    li
      a(href="/sell") Sell
    li
      a(href='/test') Buy
    li
      a(href='/') Store
    li
      a(href='/sellTransactions') Transactions
    li
      a(href='/user/logout' id="logout") Logout


