link(rel='stylesheet' href='/css/navStyle.css')
ul
  li
    a.active(href='/sell') Sell
  li
    a(href='/test') Buy
  li
    a(href='/') Store
  li
    a(href='/sellTransactions') Transaction history
