link(rel='stylesheet' href='/css/navStyle.css')
div.navi
  ul
    //- li= {if(page_name === 'about') { class="current" } }
      a(href="/about")About
    li
      a(href="/sell") Sell
    li
      a(href='/test') Buy
    li
      a(href='/') Store
    li
      a(href='/sellTransactions') Transactions
    li
      a(href='/user/logout' id="logout") Logout

script.
  const button = document.getElementById('logout');

  button.addEventListener('click', async _ => {
    try {     
      const response = await fetch('http://localhost:3000/user/logout', {
        method: 'post',
        body: {
          // Your body
        }
      });
      console.log('Completed!', response);
    } catch(err) {
      console.error(`Error: ${err}`);
    }
    });
