link(rel='stylesheet' href='/css/sidebarStyle.css')

.sidebar
    a.active(href="/sell") Sell
    a(href='/test') Buy
    a(href='/') Store
    a(href='/sellTransactions') Transactions
    a(href='/user/logout') Logout