link(rel='stylesheet' href='/css/sidebarStyle.css')


.sidebar
    h3(class="business-title")= name
    a(href="/sell") Sell
    a(href='/test') Buy
    a(href="/qrSell") Buy with QR
    a(href='/') Store
    a(href='/sellTransactions') Transactions
    a(href='/user/logout') Logout