html
  head
    block head
      title= `Khan | ${title}` 
      meta(charset='UTF-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet' href='/css/style.css')
      link(href="https://fonts.googleapis.com/css2?family=Commissioner&display=swap" rel="stylesheet")
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
      script(src='/js/index.js')
      script(src='/js/graphs.js')
      script(src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
      script(src='https://canvasjs.com/assets/script/canvasjs.min.js')


  body

    //header
    include _sidebar

    // content
 
    p
    .content
      block content
  script.
    function showMenu(){
    const menu = document.getElementById("nav")
    menu.style.display = "block"
    }





