html
  head
    block head
      title= `Khan | ${title}` 
      meta(charset='UTF-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet' href='/css/style.css')
      

  body
    //header
    include _navbar

    // content
    p
      button(class="menu-button" onclick="showMenu()") Menu
      button(class="menu-button" id="hideMenu" onclick="document.getElementById('nav').style.display = 'none'") Hide Menu
  
    block content
  script.
    function showMenu(){
    const menu = document.getElementById("nav")
    menu.style.display = "block"
    }



    

    