link(rel="stylesheet" href="/css/errorPage.css")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
div(class="center")
    div(class="errorCard")
        h2 Error
        h3=error