extends base

block content
    .bigDiv
        .center
            h2 Buying
            form(action="/buy" method="post")
                label(for='name') Shoe:
                br
                input#name(type='text' required="true" name='name' autocomplete="off" class="formInput")
                br

                label(for='price') Buying price:
                br
                input#price(type='number' required="true" name='buyingPrice' autocomplete="off" class="formInput")
                br

                label(for='tax') Tax:
                br
                input#tax(type='number' required="true" name='tax' autocomplete="off" class="formInput")
                br

                label(for="sellingPrice") Selling Price:
                br
                input(type="number" required="true" name="sellingPrice" autocomplete="off" class="formInput")
                br

                label(for='quantity') Quantity:
                br
                input#price(type='number' required="true" name='quantity' autocomplete="off" class="formInput")
                br

                input(type='submit' value='Submit' class="blueButton")