extends layout

block layout-content
    h2 Buying
    form(action="/buy" method="post")
        label(for='name') name:
        br
        input#name(type='text' name='name')
        br

        label(for='price') buying price:
        br
        input#price(type='number' name='buyingPrice')
        br
         
        label(for='tax') tax:
        br
        input#tax(type='number' name='tax')
        br

        label(for="sellingPrice") selling Price:
        br
        input(type="number" name="sellingPrice")
        br

        label(for='quantity') quantity:
        br
        input#price(type='number' name='quantity')
        br

        input(type='submit' value='Submit')