block variables
doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')

    title #{title} | WHATABYTE
  body
  nav.navbar.navbar-expand-sm.bg-primary.navbar-dark
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/products/sell') Sell
      li.nav-item
        a.nav-link(href='/products/test') Buy
      li.nav-item
        a.nav-link(href='/products/') Store
      li.nav-item
        a.nav-link(href='/products/sellTransactions') Transaction history
    
  div#root
      block layout-content

      