html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/authstyle.css')
  body
    .bigDiv
      .center
        h2 Login
        form(action='/user/login' method='post')
          label(for='fname') Name:
          br
          input#fname(type='text' required="true" autocomplete="off" class="loginInput" name='name')
          br
          label(for='lname') Password:
          br
          input#lname(type='password' required="true" class="loginInput" name='password')
          br
          br
          input(type='submit' class="loginButton" value='Login')
