h2 Login
form(action="/login" method="post")
    label(for="Username") Username
    input(type="text" name="username")
    br
    label(for="Password") Password
    input(type="password" name="password")
    br

    input(type='submit' value='Submit')
a(href="/register") register