html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/authStyle.css')
  body
    .bigDiv
      .center
        img(src="/img/logo.png", alt="")
    
        form(action='/user/login' method='post')

          br
          .div
            
              input#fname(type='text' required="true" autocomplete="off" class="loginInput" name='name' placeholder="Name")
          br
          .div
              input#lname(type='password' required="true" class="loginInput" name='password' placeholder="Password")
          br
          //- p Not registered? 
          //-   a(href="http://localhost:3000/user/signup") create an account here
        
          input(type='submit' class="loginButton" value='Login')
