h2 Register
form(action="/register" method="post")
    label(for="Username") Username
    input(type="text" name="username")
    br
    label(for="Password") Password
    input(type="text" name="password")
    br

    input(type='submit' value='Submit')
a(href="/login") Login