extends base

block content
    .bigDiv
        .center
            h1 Sell
            form(action="/sell" method="post")  
                label Shoe name
                // this will be a dropdown
                input(type='text' required="true" name='name' class="formInput")
                br
                label Quantity
                input(type='number' required="true" name='quantity' class="formInput") 
                br

                input(type='submit' value='Sell' class="blueButton")

