extends layout

block layout-content
    h1 Sell
    form(action="/products/sell" method="post")  
        label Shoe name
        // this will be a dropdown
        input(type='text', name='name')
        br
        //label Selling price
        //ive included this because some clients may bargain
        //input(type='text', name='sellingPrice')
        //br
        label Quantity
        input(type='text', name='quantity') 
        br

        input(type='submit', value='Sell')

    P Pay this:     