html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/authStyle.css')
  body
    .bigDiv
      .center
        h2 Signup
        form(action='/user/signup' method='post')
          label(for='username') Username:
          br
          input#fname(type='text' required="true" autocomplete="off" class="loginInput" name='name')
          br
          label(for='business name') Business name:
          br
          input#fname(type='text' required="true" autocomplete="off" class="loginInput" name='businessName')
          br
          label(for='password') Password:
          br
          input#lname(type='password' required="true" class="loginInput" name='password')
          br
          br
          input(type='submit' class="loginButton" value='Signup')
