html
  head
    link(rel='stylesheet' href='/css/authstyle.css')
  body
    .bigDiv
      .center
        h2 Register
        label Username:
        input.loginInput
        br
        p
        label Password:
        input.loginInput
        p
        button.loginButton Register
