
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(194,211,214);
    background: linear-gradient(83deg, rgba(194,211,214,1) 8%, rgba(226,224,236,1) 42%, rgba(206,208,217,1) 100%);
    }

    .div{
      padding: .5px;
    }
    
    .loginInput{
    width: 200px;
    border: solid lightgray 1.5px;
      border-radius: 5px;
      padding: 4px;
      margin-left: 30px;
    }

    .loginInput:focus{
      border: solid lightgray 1.5px;
      color: green;
      outline: none;
      background-color: lavenderblush;
    }
    
    .loginButton{
      margin-left: 32px;
    padding: 6px;
    background-color: dodgerblue;
     border: 2px solid lightblue;
    border-radius: 15px;
    width: 200px;
    color: white;
    }
    
    .loginButton:hover{
    box-shadow: 1px 1px 5px 1px black;
    }
    
    .bigDiv{
    padding: 60px;
    }
    .center {
      margin: auto;
      width: 300px;
      border: 0.1px solid dodgerblue;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 15px 1px black;
      background-color: white;
      opacity: 0.9;
    }
    .center h2{
    text-align: center;
    }

    @media screen and (max-width: 450px) {
.center{
  width: 270px;
  margin: auto;
}
.bigDiv{
  padding: 30px;
}
    }
    