*{
    font-family: sans-serif;
}



.errorCard{
    background-color: rgb(16, 250, 55);
padding: 10px;
font-size: 16px;
}

.center {
    margin: auto;
    width: 80%;
    border: 0.1px solid dodgerblue;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px black;
  }

  @media screen and (min-width: 450px) {
.errorCard{
    font-size: 20px;
    background-color: rgb(241, 88, 88);

}
.center{
    width: 40%;
}
  }


