.navi{
  box-shadow: 4px 4px 3px rgb(8, 1, 15);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 87, 87);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(236, 232, 232);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(243, 230, 230);
    color: black
  }
  
  .active {
    background-color: #4CAF50;
  }

  @media screen and (max-width: 450px) {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    } 

    li{
      float: none;
    }
    
    li a {
      display: block;
    }

.navi{
  display: none;
}

  }


