.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 77%);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: red;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }