*{
    font-family: 'Commissioner', sans-serif;
    }

    body{
      margin: 0;
    }
    
    .formInput{
    width: 200px;
    border-radius: 12px;
    }

    .content {
      margin-left: 200px;
      padding: 1px 16px;
    }

    #grid-container{
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 2rem;
    }

    #val{
      background-color: rgb(69, 123, 157); 
      border-radius: 1px;
      border-color: #00ff00;
      padding: 20px;
      width: 130px;
      box-shadow: 1px 1px 3px 1px black;
      color: rgb(255, 255, 255);
    }

    #totalProfit{
    background-color: #1D3557;
      padding: 20px;
      width: 130px;
      box-shadow: 1px 1px 3px 1px black;
      color: rgb(255, 255, 255); 
    }
    
    .blueButton{
    padding: 6px;
    background-color: dodgerblue;
     border: 2px solid lightblue;
    border-radius: 15px;
    width: 60px;
    color: white;
    }
    
    .blueButton:hover{
    box-shadow: 1px 1px 5px 1px black;
    }
    
    .bigDiv{
    padding: 70px 0;
    }
    .center {
      margin: auto;
      width: 300px;
      border: 0.1px solid dodgerblue;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 15px 1px black;
    }
    .center h2{
    text-align: center;
    }

    .menu-button{
      border-radius: 15px;
      background-color: dodgerblue;
      color: white;
    }



    /* table styling */
      
      .table1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      .table1 tr:nth-child(even){background-color: #F1FAEE;
      color: black;
      }
      
      .table1 td, .table1 th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      .table1 tr:hover {background-color: #e6e6ff}
      
      .table1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #A8DADC;
        color: rgb(0, 0, 0);
      }
    
        body{
          background-color: rgb(245, 250, 246);
        }

        @media screen and (max-width: 450px) {
          .tableDate {
            display: none;
          }

          .smallScreenHide {
            display: none;
          }

  
        }

        /* table styling ends here */